
div.form-controller {
  position: absolute;
  text-align: right;
  z-index: 10;
}
#form-controller-overlay, #form-controller-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
}
#form-controller-overlay {
  background-color: #333;
  opacity: 0.25;
}
#form-controller-dialog {
  width: 400px;
  margin: 0 auto;
  border: 1px solid #666;
  padding: 20px;
  background-color: #fff;
}
